@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:#2CB3F3;
    width:100%;
    max-width:1900px;
    margin:0 auto;
}

header{
    width: 100%;
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wellcome-text{
    height:50%;
    width: 80%;
    text-align:center;
}
.wellcome-text h1{
    font-size: 2.3rem;
    padding: 7px;
}
.wellcome-text p{
    font-size: 1.2rem;
}

main{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.head-finn{
    position:relative;
    width:50em;
    height:35em;
    background-color:#FFFFFF;
    border-radius:20% 20% 0 0;
}

.face-finn{
    width: 40em;
    height: 28em;
    border-radius: 100%;
    background: #FFE1C9;
    position: absolute;
    top: 3em;
    left: 5em;
}

.rigth-eye-finn{
    background: black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5em;
    right: 11em;
}

.left-eye-finn{
    background: black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5em;
    left: 11em;
}

form{
    position:absolute;
    width:20em;
    top:15em;
    left:12em;
}

input{
    position: relative;
    right: 2.5em;
    width:25em;
    height:4em;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 5px;
    padding-left:5px;
}

button{
    width:10em;
    height:3.5em;
    font-size:1.5rem;
    font-weight:bold;
    text-transform:uppercase;
    color: white;
    margin: 2em 0 2em 0;
    cursor: pointer;
    background: #55A603;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}



